.app {
    font-family: 'Quicksand', sans-serif;
  }
  
  .contenedor {
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .imagen-acceso {
    background-image: url('../resources/hand-drawn-wildlife-background_52683-85119.jpg');
    background-position: center center;
    background-size: cover;
    width: 80%;
    height: 60vh;
    border-radius: 16px;
    flex: 0 0 calc(60%);
    position: relative;
    margin-right: 2rem;
  }

  .pregunta-acceso h3 {
    font-size: 24px;
  }

  .pregunta-acceso input {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 5px 0;
    margin-bottom: 20px;
  }

  .boton-acceso button{
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 16px;
  }
  .card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .card button:hover {
    background-color: #45a049;
  }