.foro-contenedor {
  padding: 40px 20px;
  font-family: 'Exo 2', sans-serif;
  background-color: #fefde9;
}

.titulo-foro {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

.formulario-pregunta {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto auto 40px;
}

.titulo-editable, .formulario-pregunta b{
  color: #000000;
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}

.input-question[type="text"],
textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 16px;
  font-size: 16px;
}

textarea {
  resize: none;
  min-height: 100px;
}

.boton-publicar {
  background-color: #72d760;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 28px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Pregunta renderizada */
.preguntas-lista {
  max-width: 600px;
  margin: auto;
}

.chat-container {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.chat-header {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  padding: 10px;
}

.chat-fecha {
  color: #666;
  font-size: 14px;
}

.chat-content {
  padding: 10px;
}

.pregunta-titulo {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px;
}

.pregunta-autor {
  margin-top: 0;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}

.pregunta-contenido {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.respuestas {
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px solid #ccc;
}

.respuesta-autor {
  font-weight: bold;
  margin: 0 0 5px;
}

.respuesta-contenido {
  margin: 0;
}


.fecha-respuesta {
  color: #666;
  font-size: 14px;
  margin-top: 5px;
}



/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-contenido {
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
  max-width: 360px;
  text-align: center;
}

.modal-contenido img {
  width: 120px;
  margin-bottom: 20px;
}

.modal-contenido button {
  margin-top: 20px;
  background-color: #72d760;
  padding: 12px 24px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
