.dashboard-layout {
  display: flex;
  min-height: 100vh;
}

.dashboard-content {
  flex: 1;
  padding: 2rem;
  background-color: #FFFFF0;
  color: #fff;
  box-sizing: border-box;
  margin-left: 220px;
  height: 100vh;
  overflow-y: auto;
}

.grafica-card {
  background-color: #e5e4db; /* Fondo claro para las gráficas */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 45%;
  margin-bottom: 2rem;
  color: #333;
}

.dashboard-content h2{
    color: #000;
}