* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 21px;
    background-color: #f6f8ff;
}


.header {
    background-color: #7ED957;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    display: flex;
    align-items: center;
    color: #e6e6e6;
}

.header .logo h1 {
    cursor: pointer;
}

.header .logo h1 {
    font-size: 30px;
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li a:hover {
    color: #fff59d;
}

.header .nav-links a {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.header button {
    font-size: 17px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background: #4CAF50;
    padding: 9px 25px;
    border: none;
    border-radius: 5px;
}

.contenido-principal{
    display: flex;
}

.contenido-principal .imagen-info {
    background-image: url('../resources/panda.png');
    width: 60%;
    height: 90vh;
    background-position: center center;
    background-size: cover;
    flex: 0 0 calc(50%);
    position: relative;
}

.contenido-principal .imagen-info::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.contenido-principal .info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
    width: 40%;
    margin-left: auto;
}

.info-box h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.info-box p {
    font-size: 22px;
}

