* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}


.contenedor-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../resources/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}


.contenedor-info .info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.contenedor-info .info-box {
    max-width: 50%;
}

.contenedor-info .imagen-info-wrapper .imagen-info {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.info-box .title {
    font-size: 2rem;
    padding: 40px 0 30px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.info-box .title::after {
    content: '';
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    background: var(--secondary-color);
}

.info-box .text {
    line-height: 30px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
}



