* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFF0;
}

.about-containter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    gap: 40px;
    min-height: calc(100vh - 80px);
}

.imagen-info {
    max-width: 400px;
    height: auto;
}

.info-box {
    text-align: center;
    max-width: 600px;
}

.info-box h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

.info-box p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}




