.lista-libros {
  text-align: center;
  padding: 2rem;
  background-size: cover;
  min-height: 100vh;
}

.lista-libros ul {
  list-style: none;
  padding: 0;
}

.lista-libros li {
  background: #ffffff;
  margin: 10px auto;
  padding: 12px 24px;
  width: fit-content;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.lista-libros li:hover {
  background: #d0f0f6;
  color: #00796b;
}

.lector-libro {
  text-align: center;
  padding: 2rem;
  background-size: cover;
  min-height: 100vh;
}

/* __________________ PDF viewer ______________*/
.visor-pdf-contenedor {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.visor-pdf-fondo {
  background: rgba(253, 246, 227, 0.9); /* hoja semi transparente */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 95%;
  max-width: 1000px;
  margin-top: 20px;
}

.visor-pdf {
  border: none;
  border-radius: 8px;
}

.botones-pdf {
  margin-top: 20px;
}

.boton-regresar {
  background-color: #6c5ce7;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-regresar:hover {
  background-color: #5a4cd2;
}


