.perfil-contenedor {
  padding: 20px;
  max-width: 900px;
  margin: auto;
  font-family: 'Segoe UI', sans-serif;
}

.perfil-titulo {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.perfil-info {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}

.perfil-datos {
  flex: 1;
  background-color: #fafafa;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  min-width: 350px;
  max-height: 250px;
}


.porcentaje-avance {
  flex: 1;
  background-color: #fafafa;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  margin-top: 25px;
}

.porcentaje-avance h2 {
  text-align: center;
  margin-bottom: 15px;
}

.porcentaje-avance p {
  margin: 10px 0;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.perfil-datos p {
  margin: 10px 0;
  font-size: 16px;
  margin-bottom: 20px;
}

.perfil-datos h2, .perfil-insignias h2 {
  text-align: center;
  margin-bottom: 15px;
}

.perfil-insignias {
  flex: 2;
  background-color: #fffbea;
  border: 1px solid #f1e7a2;
  padding: 20px;
  border-radius: 10px;
}

.perfil-insignias h2 {
  margin-bottom: 15px;
  color: #9e8600;
}

.insignias-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.insignia {
  background-color: #fff7c1;
  border: 1px solid #d6c975;
  padding: 10px;
  border-radius: 8px;
  width: 120px;
  text-align: center;
  font-size: 14px;
}
.barra-progreso-container {
  width: 100%;
  background-color: #D9D9D9;
  border-radius: 5px;
  height: 20px;
  margin-top: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}

.barra-progreso {
  height: 100%;
  background-color: #7ED957;
  transition: width 0.4s ease;
}

.lista-insignias {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.insignia-item {
  text-align: center;
}

.imagen-insignia {
  width: 100px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.insignias-lista-tabla {
  max-height: 300px; /* Ajusta según lo que quieras mostrar antes de hacer scroll */
  overflow-y: auto;
  padding-right: 10px; /* Espacio para que no tape la barra */
}

.tabla-insignias {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tabla-insignias th {
  background-color: #f5f5f5;
  color: #333;
  padding: 12px 10px;
  text-align: left;
  font-size: 15px;
}

.tabla-insignias td {
  padding: 12px 10px;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}

.icono-insignia {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

