/* Sidebar */
.sidebar {
  position: fixed;
    width: 220px;
    background-color: #7ED957;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0; 
    left: 0; 
    height: 100vh; 
    box-sizing: border-box;
  }
  
  
  .user-info {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .user-name {
    font-weight: bold;
    margin: 0;
  }
  
  .user-role {
    font-size: 0.8rem;
    color: #000;
    margin: 0;
  }
  
  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
  }
  
  .nav-links a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 6px;
  }

  .logout-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    background: none;
    border: none;
    color: white;
    text-align: left;
    padding: 10px;
    cursor: pointer;
  }
  
  .nav-links a.active,
  .nav-links a:hover {
    background-color: #47a221;
  }
  
  .nav-icon {
    width: 24px;
    height: 24px;
  }
  