* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
  }

.sopa-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.sopa-header {
    text-align: center;
    font-size: 36px; 
    font-weight: bold;
    margin-bottom: 30px;
}

.sopa-layout {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 30'px;
}

.sopa-column {
    background-color: #F4FFFD;
    border-radius: 10px;
    padding: 20px;
    max-width: 250px;
    width: 250px;
    box-shadow: 0 0 30px rgba(107,107,107, .25);
}

.sopa-column h3 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.sopa-grid {
    display: flex;
    justify-content: center;
}


.palabras-list {
    color: black;
    font-weight: 500;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.palabras-list li {
    color: black;
    text-align: center;
}

.sopa-table {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 15px;
    border: 2px solid black;
    padding: 10px;
    background-color: #F4FFFD;
}

.sopa-row {
    display: flex;
    gap: 2px;
}

.sopa-cell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #F4FFFD;
    transition: background-color 0.3s;
    border-radius: 20px;
}

.palabras-list {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.palabras-list li {
    margin-bottom: 8px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.sopa-cell:hover {
    background-color: #e6e6e6;
}

.sopa-table div.seleccionado {
    background-color: lightblue;
}

.encontrado {
    background-color: lightgreen;
}

/* Estilos de las listas */


.encontrada {
    color: gray;
    text-decoration: line-through;
}

@media (max-width: 800px) {
    .sopa-layout {
        flex-direction: column;
        align-items: center;
    }

    .sopa-column {
        width: 80%;
        margin-bottom: 20px;
    }

    .sopa-table {
        width: 300px;
        height: 300px;
    }

    .sopa-table div {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
    }
}
